In [4]:
import pandas as pd

data=pd.read_csv("../../dataset/Hilichurl_Eng - Sheet1.csv")
data.head()

               Hilichurl                    English
0         Mi mosi gusha.                I am happy.
1        Mimi biat Yoyo.             We curse them.
2    Kundala Zido Upano!               Enemy above!
3  Mi muhe Ye muhe Tomo.  I like you like a friend.
4              Aba Movo!              Start moving!

In [5]:
data.describe()

          Hilichurl              English
count           209                  209
unique          143                  158
top     Nye si olah  That thing is blue.
freq              3                    3

In [6]:
data["Hilichurl"].apply(lambda e: len(e)).max()

67

In [7]:
data["English"].apply(lambda e: len(e)).max()

94